<template>
  <div class="dib">
    <a
      v-if="!method || method.toLowerCase() == 'get'"
      :id="id"
      :href="href"
      :class="cls"
      :target="target ? target : '_self'"
      @click="onClick ? onClick($event) : null"
    >
      <slot></slot>
    </a>
    <form v-else method="post" :action="href" @onsubmit="if (onClick) return onClick($event)">
      <input type="hidden" name="_method" :value="method.toUpperCase()" />
      <input type="hidden" name="_token" :value="token" />
      <button :id="id" type="submit" :class="cls">
        <slot></slot>
      </button>
    </form>

    <!-- <b-tooltip v-show="title" :target="id" :placement="placement && 'top'">
      {{ title }}
    </b-tooltip> -->
  </div>
</template>

<script>
  import uuid from 'uuid/v1';

  export default {
    props: ["href", "method", "onClick", "cls", "title", "placement", "target"],
    data: () => ({
      id: uuid(),
      token: null,
    }),
    mounted() {
      this.token = $("[name='csrf-token']").attr("content");
    },
  }
</script>
