<template>
  <div class="row">
    <div class="col-sm-8 pr0">
      <div class="bg-white ba b--moon-gray overflow-hidden">
        <!-- Search Input -->
        <div class="pa3 shadow-1">
          <div class="input-group">
            <input
              type="text"
              class="form-control input-lg"
              placeholder="Search..."
              v-model="search"
              @keyup.enter="getList(search)"
            />

            <span class="input-group-btn">
              <button v-show="search.length > 0" class="btn btn-lg btn-default" type="button" @click="clearSearch()">
                <i class="glyphicon glyphicon-remove"></i>
              </button>
              <button class="btn btn-lg btn-primary" type="button" @click="getList(search)">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </span>
          </div>
        </div>

        <!-- Tool List -->
        <div class="bg-black-10 pa3 overflow-y-auto" style="height: 400px">
          <div v-if="loading" class="mv7 tc f2">
            <h3>Loading</h3>
            <div class="progress center w-20">
              <div
                class="w-100 progress-bar progress-bar-striped active"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <span class="sr-only">Loading</span>
              </div>
            </div>
          </div>
          <div v-else-if="tools.length === 0" class="mv7 tc f2">
            <i class="glyphicon glyphicon-exclamation-sign"></i> Kosong
          </div>
          <div v-else>
            <div v-for="(tool, i) in tools" class="br2 pa3 ba b--moon-gray bg-white w-100 mb3 shadow-hover">
              <div class="dt w-100">
                <div class="w-20 dtc tc br2 v-mid overflow-hidden ba b--moon-gray">
                  <img :src="tool.picture" style="max-height: 70px; max-width: 100%; width: auto" />
                </div>

                <div class="w-70 dtc ph3">
                  <p class="f2 bb b--moon-gray"> {{ tool.part_name }} </p>
                  <p class="f4 black-60">
                    <span class="mr4"> <b>No Part:</b> {{ tool.part_number }} </span>
                    <span class="mr4"> <b>Lokasi:</b> {{ tool.location }} </span>
                  </p>
                </div>

                <div class="w-10 dtc tr">
                  <button class="btn btn-info" @click="addToContainer(tool)">
                    <i class="glyphicon glyphicon-plus"></i>
                  </button>
                </div>
              </div>
            </div>

            <div v-show="totalPage > 1" class="tc">
              <paginate
                :page-count="totalPage"
                :page-range="3"
                :margin-pages="2"
                :click-handler="pagination"
                :prev-text="'Prev'"
                :next-text="'Next'"
                :container-class="'pagination'"
                :page-class="'page-item'">
              </paginate>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4 pl0">
      <div class="bg-black-10 ba b--moon-gray overflow-hidden">
        <form method="POST" :action="url('operator/borrowTools')">
          <!-- Request Button -->
          <div class="pa3 shadow-1 bg-white">
            <button type="submit" class="btn btn-lg btn-primary tc w-100" :disabled="container.length === 0">
              <i class="glyphicon glyphicon-wrench"></i> Pinjam Tools
            </button>
            <input type="hidden" name="_token" :value="csrfToken" />
          </div>

          <div class="pa3 overflow-y-auto" style="height: 400px">
            <div v-if="container.length === 0" class="mv7 tc f3">
              Tekan tombol <i class="glyphicon glyphicon-plus"></i> untuk menambahkan tools
            </div>

            <div v-else v-for="(tool, i) in container" class="br2 pa3 ba b--moon-gray bg-white w-100 mb3 shadow-hover">
              <div class="dt w-100">
                <div class="w-20 dtc tc br2 v-mid overflow-hidden ba b--moon-gray">
                  <img :src="tool.picture" style="max-height: 70px; max-width: 100%; width: auto" />
                </div>

                <div class="w-70 dtc ph3">
                  <input type="hidden" name="tools[]" :value="tool.part_number" />
                  <p class="f2 bb b--moon-gray"> {{ tool.part_name }} </p>
                  <p class="f4 black-60">
                    <span class="mr4"> <b>No Part:</b> {{ tool.part_number }} </span>
                    <span class="mr4"> <b>Lokasi:</b> {{ tool.location }} </span>
                  </p>
                </div>

                <div class="w-10 dtc tr">
                  <button type="button" class="btn btn-danger" @click="removeFromContainer(i)">
                    <i class="glyphicon glyphicon-remove"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';
  import $ from 'jquery';

  export default {
    props: ["href", "method", "onClick", "cls", "title", "placement", "target"],
    data: () => ({
      baseUrl: $("meta[name='base-url']").attr("content"),
      csrfToken: $("meta[name='csrf-token']").attr("content"),
      search: '',
      loading: true,
      container: [],
      tools: [],
      totalPage: 0,
    }),
    mounted() {
      this.getList();
    },
    methods: {
      url(path) {
        return this.baseUrl + path.replace(/[\\\\/]+/g, '/');
      },
      getList(search = '', page = 1, pageSize = 20) {
        this.loading = true;

        axios.get(this.url("api/tools"), { params: { search, page, pageSize } }).then(({ data: { last_page, data } }) => {
          this.loading = false;
          this.totalPage = last_page;
          this.tools = data.map((tool) => {
            tool.picture = this.url('file/tools/' + tool.picture);

            return tool;
          });
        });
      },
      clearSearch() {
        this.search = '';
        this.getList();
      },
      addToContainer(tool) {
        // prevent duplicates
        this.container = this.container.filter((item) => {
          return item.part_number !== tool.part_number;
        });

        this.container.push(tool);
      },
      removeFromContainer(i) {
        this.container.splice(i, 1);
      },
      pagination(pageNum) {
        this.getList(this.search, pageNum);
      },
    },
  }
</script>
