// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

@import "variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/tachyons/css/tachyons.min";
@import "style";
@import "overrides";

@import "homepage";

html, body {
  height: 100%;
}

textarea {
  resize: vertical;
}

.text-primary {
  color: $brand-primary;
}

.word-wrap {
  word-break: break-all;
}

.img-thumb {
  // margin: 5px;
  overflow: hidden;
  // background: #fff;
  // padding: 6px;
  // border-radius: 4px;
  // border: solid 1px #ddd;

  img {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
  }
}

.fixed-thumbnail {
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
  background: #fcfcfc;
}

.fixed-thumbnail-sm {
  @extend .fixed-thumbnail;
  height: 100px;
  width: 100px;
}

.fixed-thumbnail-md {
  @extend .fixed-thumbnail;
  height: 250px;
  width: 250px;
}

.img-thumb-md {
  max-width: 200px !important;
  max-height: 200px !important;
}

.img-thumb-sm {
  max-width: 100px !important;
  max-height: 100px !important;
}

/** Debug */
$icon-font-path: '../fonts/bootstrap/';

@function font-path($path) {
  @return $path;
}
