#section-home {
  .cover {
    height: 455px;
    background: url('../img/background/cover.jpg');
    // background: url('http://localhost/spd/public/img/background/cover.jpg');
    // background: "url('{{ url('img/background/cover.jpg') }}')";
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 -15px;
  }
}
